<%- include('../../header.ejs')%>

    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dash-left">
                            <ul>
                                <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                                <li><a href="/admin/blogdisplay" class="active">Blogs</a></li>
                                <li><a href="/admin/category">Categories</a></li>
                                <li><a href="/admin/contactdisplay">Contact</a></li>
                                <li><a href="/admin/about">About</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1>Category edit of <%=categoryedit._id%>
                                    </h1>
                                </div>
                                <div class="dash-nav">
                                </div>
                            </div>
                            <form method="post" action="/categoryupdate/<%=categoryedit._id%>" enctype="multipart/form-data">
                    
                                <div class="form-group form-row">
                                    <label class="col-md-3 required">Title *</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="title"
                                            value="<%=categoryedit._title%>" placeholder="Title" required
                                            formControlName="title">
                                    </div>
                                </div>

                                <div class="form-group form-row">
                                    <label class="col-md-3 required">Upload Image *</label>
                                    <div class="col-md-9">
                                        <input type="file" name="image" class="form-control" formControlName="image">
                                        <img src="<%=categoryedit.image.url%>"width="200px"height="200px">
                                    </div>
                                </div>

                                <div class="form-group form-row">
                                    <label class="col-md-3"></label>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </form>

<%- include('../../footer.ejs')%>